<!DOCTYPE HTML>
<html>

<head>
    <title>StatsBH.win - COMING SOON!</title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet/less" type="text/css" href="/assets/css/style.less">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" type="text/javascript"></script>

</head>

<body>
    <div class="tiles">
        <p>Compete.</p>
        <p>Win.</p>
    </div>
    <div class="header">
        <img src="assets/img/bhstatslogo2_3.png" class="logo">
    </div>
</body>

</html>
