@darkgrey: #181818;
@lightgrey: #2a2a2a;
.bobo {
	background: purple url("../img/bg.png") no-repeat fixed center; 
	width: 100%;
	height: 100%;
}

.navb {
	background-color: @darkgrey;
	width: 100%;
	height: 60px;
}

.navb img {
	margin-top:10px;
	width: 250px;
	height: 100px;
}

.search {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.btn-purple { 
  color: #ffffff; 
  background-color: #6F47B5; 
  border-color: #6F47B5; 
} 
 
.btn-purple:hover, 
.btn-purple:focus, 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  color: #ffffff; 
  background-color: #49247A; 
  border-color: #49247A; 
} 
 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-image: none; 
} 
 
.btn-purple.disabled, 
.btn-purple[disabled], 
fieldset[disabled] .btn-purple, 
.btn-purple.disabled:hover, 
.btn-purple[disabled]:hover, 
fieldset[disabled] .btn-purple:hover, 
.btn-purple.disabled:focus, 
.btn-purple[disabled]:focus, 
fieldset[disabled] .btn-purple:focus, 
.btn-purple.disabled:active, 
.btn-purple[disabled]:active, 
fieldset[disabled] .btn-purple:active, 
.btn-purple.disabled.active, 
.btn-purple[disabled].active, 
fieldset[disabled] .btn-purple.active { 
  background-color: #6F47B5; 
  border-color: #6F47B5; 
} 
 
.btn-purple .badge { 
  color: #6F47B5; 
  background-color: #ffffff; 
}

.elem {
	float: right;
}